.anjuta_sym_db.db
.anjuta/*
BDocs/*
Debug/*
Intel/*
Optimized/*
Profiling/*
*.in
!numcosmo.pc.in
configure
autom4te.cache/*
aclocal.m4
genchangelog.sh
examples/*.png
examples/*.pdf
examples/*.dat
examples/*.fits
examples/*.pyc

