BDocs/
Coveralls/
Debug/
Intel/
Optimized/
Profiling/
numcosmo_py.egg-info/
.vscode
examples/*.png
examples/*.pdf
examples/*.dat
examples/*.fits
examples/*.pyc
examples/.libs/*
examples/pydata_simple/*.pyc
docs/numcosmo-overrides.txt
docs/numcosmo.types
docs/references.aux
docs/references.dvi
docs/references.log
docs/references.out
scripts/*.pyc
__pycache__
.ipynb_checkpoints


# Generated pdfs, log and fits
*.pdf
*.fits
*.log

