.anjuta_sym_db.db
.anjuta/*
BDocs/*
Debug/*
Intel/*
Optimized/*
Profiling/*
*.in
!numcosmo.pc.in
configure
compile
config.guess
config.sub
depcomp
missing
test-driver
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/*
aclocal.m4
genchangelog.sh
examples/*.png
examples/*.pdf
examples/*.dat
examples/*.fits
examples/*.pyc
examples/.libs/*
docs/gtkdoc-check.trs
docs/numcosmo-overrides.txt
docs/numcosmo.types
docs/references.aux
docs/references.dvi
docs/references.log
docs/references.out
docs/references.xml
