
# Filters

exclude-unreachable-branches = yes
exclude-lines-by-pattern = (LCOV_EXCL_LINE|g_return_if_reached|g_return_val_if_reached|g_assert_not_reached|g_error|G_OBJECT_WARN) *\(
exclude-branches-by-pattern = (g_return_if_fail|g_return_val_if_fail|g_assert|g_assert_|g_warn_if_fail|g_clear_|ncm_assert_|NCM_TEST_FREE) *\(

exclude = numcosmo/class/
exclude = numcosmo/levmar/
exclude = numcosmo/libcuba/
exclude = numcosmo/plc/
exclude = numcosmo/sundials/
exclude = numcosmo/toeplitz/
exclude = numcosmo/tools/
exclude = tools/

