
# Filters

exclude = numcosmo/class/
exclude = numcosmo/levmar/
exclude = numcosmo/libcuba/
exclude = numcosmo/plc/
exclude = numcosmo/sundials/
exclude = numcosmo/toeplitz/
exclude = numcosmo/tools/
exclude = tools/